{% extends "::base.html.twig" %}

{% block title %}AppBundle:EventController:create{% endblock %}

{% block body %}
    <div class="container">
        <h1>Add event</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
